[Unit]
Description=SV Discord Bot
Documentation=

Wants=network.target
After=network.target

[Service]
User=minecraft
Group=minecraft
KillMode=process
SuccessExitStatus=0 1 143
Restart=always
RestartSec=3

ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
PrivateTmp=true
InaccessibleDirectories=/root /sys /srv -/opt /media -/lost+found
ReadWriteDirectories=/var/minecraft/discord-bot
WorkingDirectory=/var/minecraft/discord-bot

ExecStart=/bin/bash -c '/usr/java/jdk-17.0.2+8-jre/bin/java -Xms1G -Xmx1G -jar SVDiscord.jar'

[Install]
WantedBy=multi-user.target
