SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root

# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed

00 6 * * *              root /var/minecraft/proxy/backup.sh

55 6 * * 0,2,3,4,5,6    root /var/minecraft/khavalon/auto-reboot.sh
15 7 * * *              root /var/minecraft/khavalon/database-cleanup.sh

55 7 * * 0,2,3,4,5,6    root /var/minecraft/survival/auto-reboot.sh
15 8 * * *              root /var/minecraft/survival/database-cleanup.sh

55 8 * * 0,2,3,4,5,6    root /var/minecraft/creative/auto-reboot.sh
15 9 * * *              root /var/minecraft/creative/database-cleanup.sh

55 6 * * 1              root /var/minecraft/proxy/auto-reboot.sh

55 9 * * *              root /var/minecraft/hardline/auto-reboot.sh
15 10 * * *             root /var/minecraft/hardline/database-cleanup.sh

45 6 * * 1              minecraft wget https://ci.opencollab.dev/job/GeyserMC/job/Geyser/job/master/lastSuccessfulBuild/artifact/bootstrap/bungeecord/target/Geyser-BungeeCord.jar --output-document=/var/minecraft/proxy/pending-updates/Geyser.jar --quiet
45 6 * * 1              minecraft wget https://ci.opencollab.dev/job/GeyserMC/job/Floodgate/job/master/lastSuccessfulBuild/artifact/bungee/target/floodgate-bungee.jar --output-document=/var/minecraft/proxy/pending-updates/floodgate.jar --quiet
45 6 * * 1              minecraft wget https://ci.opencollab.dev/job/GeyserMC/job/Floodgate/job/master/lastSuccessfulBuild/artifact/spigot/target/floodgate-spigot.jar --output-document=/var/minecraft/khavalon/pending-updates/floodgate.jar --quiet
45 6 * * 1              minecraft wget https://ci.opencollab.dev/job/GeyserMC/job/Floodgate/job/master/lastSuccessfulBuild/artifact/spigot/target/floodgate-spigot.jar --output-document=/var/minecraft/survival/pending-updates/floodgate.jar --quiet
45 6 * * 1              minecraft wget https://ci.opencollab.dev/job/GeyserMC/job/Floodgate/job/master/lastSuccessfulBuild/artifact/spigot/target/floodgate-spigot.jar --output-document=/var/minecraft/creative/pending-updates/floodgate.jar --quiet
45 6 * * 1              minecraft wget https://ci.opencollab.dev/job/GeyserMC/job/Floodgate/job/master/lastSuccessfulBuild/artifact/spigot/target/floodgate-spigot.jar --output-document=/var/minecraft/lobby/pending-updates/floodgate.jar --quiet

45 6 * * 1              minecraft wget https://ci.opencollab.dev/job/GeyserMC/job/Geyser/job/master/lastSuccessfulBuild/artifact/bootstrap/spigot/build/libs/Geyser-Spigot.jar --output-document=/var/minecraft/hardline/pending-updates/Geyser.jar --quiet
45 6 * * 1              minecraft wget https://ci.opencollab.dev/job/GeyserMC/job/Floodgate/job/master/lastSuccessfulBuild/artifact/spigot/target/floodgate-spigot.jar --output-document=/var/minecraft/hardline/pending-updates/floodgate.jar --quiet
